* {
  margin: 0px;
  padding: 0px;
}
body {
  background-image: url("./assets/bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}
.cell {
  width: 60px;
  height: 60px;
  padding: 7%;
  border: 1px solid #ecd7ba;
  cursor: pointer;
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container1 {
  font-size: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  margin-top: 10%;
}
.container2 .tank1 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10% 0px;
}
.mainContain .contain1 {
  display: grid;
  grid: auto / auto auto auto;
  grid-gap: 0px;
}
.container2 .tank2 {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (min-width: 840px) {
  .container1 {
    float: left;
    margin: 2% 2%;
  }

  .container2 {
    display: flex;
  }

  .container2 .tank1 {
    width: 70vw;
  }
  .container2 .tank2 {
    width: 30vw;
  }
  .cell {
    width: 80px;
    height: 80px;
    padding: 7%;
    font-size: 2rem;
  }
}

@media (max-width: 840px) {
}
.reset {
  position: absolute;
  top: 45%;
  left: 45%;
  font-size: 2rem;
}
.turn {
  font-size: 1.2rem;
}
